/* Body styling */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 1em;
}

/* Link styling */
a:link    { color: #3399ff; }
a:visited { color: #9966ff; }
a:hover   { color: #ff6600; }
a:active  { color: #ff0000; }

/* Replacing <font> size "+1" */
.up1 {
  font-size: 115%;
}

/* Horizontal rule */
hr {
  width: 90%;
  height: 2px;
  background-color: #444;
  border: none;
  margin: 20px auto;
}

/* Vertical rule at the left */
.commentary {
 border-left: 2px solit #888;
 padding-left: 10px;
 margin-botton: 1em;
}
